body {
  background-color: #f8f9fa;
}

h4 {
  font-weight: bold;
}

img.rounded-circle {
  object-fit: cover;
  border: 2px solid #ddd;
}

a.text-success {
  text-decoration: none;
  font-weight: 500;
}

.form-check-input:checked {
  background-color: #28a745;
  border-color: #28a745;
}
